body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
background-color: white;
color:black;
width:500px;
padding:50px;
border-radius: 25px;
margin:auto;

}

.container {
    display:flex;
    
}

div2 {

   
    position:relative;
    top:-9px;
    right:-27px;
}
